body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.content{
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100vw;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
button {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#userList {
    max-width: 600px;
}

#users {
    list-style-type: none;
    padding: 0;
}

#users li {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#users li:hover {
    background-color: #e0e0e0;
}
